  // main.scss
  @use 'reset';
  @use 'variables';
  @use 'mixins' as mix;
  
  body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    line-height: 1.6;
  }
  
  .chess-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    
    @include mix.respond-to('tablet') {
      grid-template-columns: var(--board-size) var(--sidebar-width);
    }
  }